.content {
  position: sticky;
  top: 0px;
  width: 100%;
  max-width: 100%;
  background: #5681fd;
  color: #fff;
  line-height: 2;
  border-bottom: 3px inset rgba(0, 0, 0, 0.295);
  display: flex;
  align-items: center;
}

.top {
  width: 60px;
  padding: 5px 15px;
}

.bottom {
  background: #fff;
  overflow: hidden;
  box-shadow: 1px 0px 10px #ccc;

  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
}

.bottom ul {
  margin: 0;
}

.middle {
  font-family: 'Montserrat';
  margin: 0px;
}

.externalLink {
  list-style: none;
  margin-right: 35px;
}

.externalLink a {
  display: flex;
  position: relative;
}

.externalLink a:before {
  content: '';
  width: 0;
  position: absolute;
  bottom: -2px;
  left: 0;
  border-bottom: solid 2px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

.externalLink a:hover:before {
  width: 100%;
}

.externalLink svg {
  width: 16px;
  margin-right: 5px;
}

.links {
  margin-left: 30px;
  scroll-snap-type: x mandatory;
  overflow: auto;
  display: flex;
  color: #5681fd;
  position: relative;
  flex-wrap: nowrap;
  padding: 15px 15px;
}

/* .links::before {
  content: '';
  width: 30px;
  height: 100%;
  background: #fff;
  left: 0;
  position: fixed;
  background: linear-gradient(to right, white, #ffc0cb00);
} */

.links::after {
  content: '';
  width: 30px;
  height: 100%;
  background: #fff;
  right: 0;
  position: fixed;
  background: linear-gradient(to left, white, #ffc0cb00);
}

@media (width > 800px) {
  .content {
    border-bottom: 13px inset rgba(0, 0, 0, 0.295);
  }
  .top,
  .bottom {
    padding: 2em;
  }
  .top {
    width: unset;
  }
  .bottom {
    box-shadow: unset;
    background: rgba(0, 0, 0, 0.105);
    display: block;
    position: static;
    bottom: 0;
    width: auto;
    left: 0;
  }
  .middle {
    text-align: center;
    font-size: 1.4em;
  }

  .middle h1 {
    margin-top: 0;
  }

  .content {
    display: block;
    position: sticky;
    top: 15px;
    width: 300px;
    max-width: 100%;
    background: #5681fd;
    color: #fff;
    line-height: 2;
    border-bottom: none;
    border-top: 13px inset rgba(0, 0, 0, 0.295);
    margin-right: 50px;
    /* border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px; */
  }
  .externalLink {
    margin-bottom: 10px;
  }

  .externalLink a {
    display: inline;
  }

  .links {
    margin-left: 30px;
    scroll-snap-type: x mandatory;
    overflow: auto;
    display: block;
    color: inherit;
    position: relative;
    flex-wrap: unset;
    padding: 0;
  }
}

@media print {
  .content {
    background: #fff;
    display: block;
    position: sticky;
    top: 15px;
    width: 100%;
    max-width: 100%;
    color: #fff;
    line-height: 2;
    border-bottom: none;
    border-top: none;
    margin-right: 50px;
  }

  .top,
  .bottom {
    padding: 2em;
  }
  .top {
    display: none;
  }
  .bottom {
    display: none;
    box-shadow: unset;
    background: #ccc;
    position: static;
    bottom: 0;
    width: auto;
    left: 0;
  }

  .links {
    display: none;
  }
  
  .middle {
    text-align: center;
    font-size: 1.4em;
    background: #fff;
    color: #2B2B2B;
  }

  .middle h1 {
    font-size: 3em;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0px;
  }

  .externalLink {
    margin-bottom: 0px;
  }

  .externalLink a {
    display: inline;
  }
}
