.box {
  border-left: none;
  padding: 2em 3em 2em 3em;
  font-family: 'Montserrat';
}

.title {
  font-size: 2.3em;
}

.impressum {
  color: #9c9c9c;
  font-size: 2em;
  line-height: 1.3;
}

@media (width > 800px) {
  .box {
    border-left: solid 13px #ccc;
  }
}

@media print {
  .title {
    display: none;
    font-size: 10pt;
    border-left: none;
  }

  .impressum {
    font-size: 10pt;
  }

  .box {
    border-left: none;
    padding: 0;
    padding-left: 15px;
    font-family: inherit;
  }
}
