@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap');

:root {
  --primary: #5681fd;
  --round-lg: 30px;
}

body {
  font-family: 'Merriweather', 'Georgia', serif;
  font-size: 13px;
  line-height: 1;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

@media print {
  body {
    font-size: 8pt;
  }
}
