@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap');

body {
  font-family: 'Merriweather', 'Georgia', serif;
  font-size: 13px;
  line-height: 1;
  margin: 0;
}

h1 {
  box-sizing: border-box;

  font-family: 'Montserrat';
  width: 1100px;
  max-width: 100%;
  margin: auto;
  padding: 20px 10px;
  color: #b25353;
  font-size: 2em;
  font-weight: bolder;
  visibility: visible !important;
}
.clients {
  text-align: center;
}
.clients img {
  padding: 10px;
  max-width: 80px;
}

main {
  box-sizing: border-box;
  padding: 10px;
  width: 1100px;
  max-width: 100%;
  margin: auto;
  margin-bottom: calc(4em + 14px);
}

a {
  text-decoration: none;
}

.content {
  padding: 0 2em;
  margin-bottom: 3em;
}

.print-area {
  position: sticky;
  bottom: 0;
  padding: 1em;
  text-align: right;
  background: #fff;
  box-shadow: 0px 0px 10px #ccc;
}

.print-it {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 15px;
  border-radius: 7px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.3em;
}

.print-it:focus {
  outline: none;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

.print-it:hover {
  transform: scale(1.1);
}

a {
  color: inherit;
}

@media screen and (min-width: 800px) {
  main {
    display: flex;
    flex-flow: row-reverse;
    padding: 20px;
  }

  h1 {
    padding: 20px;
    padding-left: 5px;
  }
  .content {
    /* padding: inherit; */
  }

  .bio h1 {
    visibility: visible !important;
  }
  .bio .content {
    position: sticky;
    top: 15px;
    width: 300px;
    max-width: 100%;
    background: rgb(86, 129, 253);
    color: #fff;
    line-height: 2;
    padding: 2em;
    border-top: inset 13px rgba(0, 0, 0, 0.295);
    margin-left: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.356);
  }

  .bio .content a {
    visibility: hidden;
  }

  .bio .content strong {
    visibility: visible;
  }
}

@media print {
  .print-area {
    display: none;
  }

  main,
  h1 {
    padding: inherit 0;
  }
}
